name: Build Telegram Bot API

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Cache vcpkg
      uses: actions/cache@v2
      with:
        path: |
          vcpkg/vcpkg.exe
          vcpkg/packages
        key: ${{ runner.os }}-vcpkg-${{ hashFiles('**/vcpkg.json') }}
        restore-keys: |
          ${{ runner.os }}-vcpkg-


    - name: Set up vcpkg
      run: |
        git clone https://github.com/Microsoft/vcpkg.git
        .\vcpkg\bootstrap-vcpkg.bat

    - name: Install dependencies
      run: |
        .\vcpkg\vcpkg.exe install gperf:x64-windows openssl:x64-windows zlib:x64-windows

    - name: Cache build directory
      uses: actions/cache@v2
      with:
        path: build
        key: build-${{ runner.os }}

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -A x64 -DCMAKE_INSTALL_PREFIX:PATH=.. -DCMAKE_TOOLCHAIN_FILE:FILEPATH=..\vcpkg\scripts\buildsystems\vcpkg.cmake ..

    - name: Build Telegram Bot API
      run: |
        cd build
        cmake --build . --target install --config Release

    - name: List built files
      run: |
        dir build\..\bin

    - name: Publish Artifacts
      if: success()
      uses: actions/upload-artifact@v2
      with:
        name: telegram-bot-api
        path: bin

